   * {
       margin: 0px;
       padding: 0px;
   }
   
   .logo {
       display: flex;
       width: 20%;
       border: 12px 10px;
       border-radius: 5%;
   }
   
   .logo img {
       width: 10%;
       margin: 2px 5px;
       padding: 12px 15px;
       border-radius: 50px;
       width: 26%;
   }
   
   .navbar {
       display: flex;
       background-color: orange;
       align-items: center;
       justify-content: center;
       font: blue;
       font-size: 12px;
       font-weight: bold;
   }
   
   .nav-list {
       width: 70%;
       display: flex;
       align-items: center;
   }
   
   .navbar ul {
       display: flex;
       flex-direction: row;
       list-style: none;
   }
   
   .navbar ul li {
       display: flex;
       flex-direction: row;
       margin: 2px 5px;
       padding: 12px 15px;
   }
   
   .navbar ul li a {
       text-decoration: none;
   }